.autoplay-progress {
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 10;
  width: 48px;
  height: 48px;
}

.autoplay-progress svg {
  width: 100%;
  height: 100%;
}

.autoplay-progress circle {
  fill: none;
  stroke: white;
  stroke-width: 4;
  stroke-dasharray: 125.6; /* 2Ï€r, r=20 */
  stroke-dashoffset: calc(125.6 * var(--progress, 1));
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  transition: stroke-dashoffset 0.1s linear;
}


.autoplay-progress span {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  font-weight: 600;
  color: white;
}
